{% if 'routes_with_vrf' in vars['ip'] %}
{%   for route in vars['ip']['routes_with_vrf'] %}
- parents:
  lines:
    - ip route vrf {{ route['vrf'] }} {{ route['network'] }} {{ route['netmask'] }} {{ route['next_hop'] }}
{%   endfor %}
{% endif %}